<% if (project) { %>
<div class="dashboard-container" ng-controller="dashboardCtr">

</div>
<script type="text/javascript">
$(document).ready(function () {
    $.ajax({
        type:"get",
        url:"/project/config?name=<%-project%>&rn=" + Math.random(),
        success:function (config) {
            var $container = $(".dashboard-container");
            $container.html(config.html);
            window.dashboardConfig = $.parseJSON(config.setting);
            angular.bootstrap($container[0], ["dashboardApp"])
        }
    });
});
</script>
<% } else { %>
<div>
<div class="alert-error"><h2>Please input proejct name: like [host]/dashboard/[project]</h2></div>
</div>
<% } %>
