<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

	</head>

	<body>
    <a class="fork-me" href="https://github.com/greengerong/vital-signs" target="_blank">
        <img src="/images/forkme.png" alt="Fork me on GitHub">
    </a>
		<%- body %>
	</body>
</html>
