<div>
    <span ng-repeat="item in npmPlugins" style="margin: 8px;"><a target="_blank"
                                                                 href="https://npmjs.org/package/{{item}}">{{item}}</a></span>
</div>
<hr/>
<fieldset>
    <legend>Add npm plugin</legend>
    <form class="form-horizontal" name="npmForm">
        <div class="control-group" ng-class="{true:'error'}[npmForm.npmPluginName.$invalid]">
            <label class="control-label" for="npmPluginName">Npm plugin name</label>

            <div class="controls">
                <input type="text" class="input input-xxlarge" placeholder="Typing plugins name..."
                       id="npmPluginName" name="npmPluginName" ng-model="npmPluginName" required="true"
                       ui-validate="{'unique':'notUnique($value)'}">
                <span class="help-block" ng-show="npmForm.npmPluginName.$error.required">Name is required!</span>
                    <span class="help-block"
                          ng-show="npmForm.npmPluginName.$error.unique">Name is must be unique!</span>
            </div>
        </div>
        <div class="text-right">
            <input type="button" class="btn btn-primary" ng-disabled="npmForm.$invalid|| !npmForm.$dirty"
                   value="add npm" ng-click="addNpm();">
        </div>
        <div>{{result}}</div>
    </form>
</fieldset>