<div class="container">

    <ul class="nav nav-tabs">
        <li>
            <a href="#">Home</a>
        </li>
        <li class="active"><a href="#/plugins">plugins</a></li>
        <li><a href="#/npm">npm plugins</a></li>
    </ul>
    <div ng-view></div>
</div>