<!DOCTYPE html>
<html xmls:ng-app="http://vital-signs.com">
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Stylesheets from your assets folder are included here -->
		<%- assets.css() %>
        <script src="assets/bootstrap/jquery-1.9.1.js"></script>
        <script src="assets/bootstrap/angular.js"></script>
        <!--[if lte IE 8]>
           <script>
            window.myCustomTags = [];
            </script>
            <script src="assets/bootstrap/ui-utils-ieshiv.js"></script>

           <script src="assets/bootstrap/jshtml5shiv.js"></script>
         <![endif]-->
	</head>

	<body id="ng-app" ng-app="manageApp">
		<%- body %>

        <!-- Javascripts from your assets folder are included here -->
        <script type="text/javascript" src="/assets/mixins/sails.io.js"></script>
        <script type="text/javascript" src="/assets/js/3plib/d3.v3.js"></script>
        <script type="text/javascript" src="/assets/js/3plib/jquery.dynacloud-5.js"></script>
        <script type="text/javascript" src="/assets/js/3plib/bootstrap.js"></script>
        <script type="text/javascript" src="/assets/js/3plib/ui-utils.js"></script>
        <script type="text/javascript" src="/assets/js/3plib/ui-bootstrap-0.3.0.js"></script>
        <script type="text/javascript" src="/assets/js/3plib/underscore.js"></script>

        <script type="text/javascript" src="/js/manage/codemirror/codemirror.js"></script>
        <script type="text/javascript" src="/js/manage/codemirror/javascript.js"></script>
        <script type="text/javascript" src="/js/manage/codemirror/xml.js"></script>
        <script type="text/javascript" src="/js/manage/codemirror/css.js"></script>
        <script type="text/javascript" src="/js/manage/codemirror/htmlmixed.js"></script>
        <script type="text/javascript" src="/js/manage/codemirror/ui-codemirror.js"></script>

        <script type="text/javascript" src="js/manage/app.js"></script>
	</body>
</html>
